.form-demo .Form {
  min-width: 400px;
  border:rgb(255, 255, 255);
}
.form-demo .card form {
  margin-top: 2rem;
}
.form-demo .Form .p-field {
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 960px) {
  .form-demo .Form {
    width: 80%;
  }
}
@media screen and (max-width: 640px) {
  .form-demo .Form {
    width: 100%;
    min-width: 0;
  }
}
